*

!.gitignore
!ex.txt
!README.md

!/Assignment1
!syscpy.c

!/Assignment2
!sshell.c

!/Assignment3
!mcarlo.c

!/Assignment4
!book.txt
!CPU.c
!cpu.h
!driver.c
!list.c
!list.h
!Makefile
!pri-schedule.txt
!rr-schedule.txt
!schedule_fcfs.c
!schedule_priority.c
!schedule_rr.c
!schedule_sjf.c
!schedule.txt
!schedulers.h
!task.h